<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create employee</title>
</head>
<body>
<h1>Create employee</h1>
<p>
    <a href="/employees">Employee list</a>
</p>

<form th:action="@{/employee/create}" th:object="${employeeForm}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Namme:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Birth date:</td>
            <td><input type="text" th:field="*{birthDate}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><input type="file" th:field="*{avatar}"/></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create employee"></td>
        </tr>
    </table>
</form>
</body>
</html>