<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create employee</title>
</head>
<body>
<h1>Create employee</h1>
<p>
    <a href="/employees">Employee list</a>
</p>

<form th:action="@{/employee/create}" th:object="${employeeForm}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Birth date:</td>
            <td><input type="text" th:field="*{birthDate}"/></td>
            <td th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Name Error</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><input type="file" th:field="*{avatar}"/></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"/></td>
            <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Name Error</td>
        </tr>
        <tr>
            <td>Department:</td>
            <td>
                <select th:field="*{department}">
                    <option th:each="p : ${departments}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create employee"></td>
        </tr>
    </table>
</form>
</body>
</html>